body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(88deg, #ffa1ff, #aba7e9);
}
a{
    text-decoration: none;
}
section{
    margin-bottom: 150px;
}
.flexible-display{
    display: flex;
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
} 
h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
} 
h3 {
    font-size: 30px;
    text-transform: uppercase;
} 
h4 {
    font-size: 25px;
    text-transform: uppercase;
} 
p{
    text-align: justify;
}
.white-color{
    color: white;

}
/* header section start */
.header-area {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    background: #fff;
    box-shadow: 0px 5px 40px #fff;
}
.width-half {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.link-btn {
    padding: 8px 25px;
    text-decoration: none;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    color: #fff;
}
.github{
    background-color: #24292f;
}
.linkedin{
    background-color: #0a66c2;
}
.instagram{
    background-image: linear-gradient(45deg, #fec15b, #b8259d);
}
.facebook{
    background-color: #087cea;
}
/* header section end */
/* banner section start */
.top-banner{
    text-align: center;
}
.banner-img {
    width: 30%;
    margin: 30px auto;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #fff;
}
.banner-img img {
    width: 100%;
}
.banner-content h1 {
    margin: 10px 0px;
}
/* banner section end */
.about-me-img {
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px #fff;
}
.about-me .width-half img{
    width: 100%;
}
.about-me {
    align-items: center;
}
.main-btn {
    background-image: linear-gradient(244deg, #ec88d7, #7f7ffc);
    border: 2px solid rgb(59, 2, 59);
    margin-left: 0;
    margin-top: 10px;
    display: inline-block;
    margin-right: 20px;
}
.heading{
    text-align: center;
}
.portfolio-item {
    text-align: center;
}
.portfolio-item img{
    width: 100%;
}
.portfolio-item img {
    box-shadow: 0px 0px 40px #383c3c;
}
.experience-item {
    box-shadow: 0px 0px 40px #3c3e42;
    border-radius: 15px 15px 0px 0;
    width: 39%;
    float: left;
    margin-left: 4%;
    padding: 0 2% 2% 2%;
}
#full-stack-experience {
    border: 7px solid;
    border-image: linear-gradient(45deg, #040404, #0a0a0a);
}
#web-deb-experience{
    border: 7px solid;
    border-image: linear-gradient(45deg, #040404, #0a0a0a);
}
.contact-contact-form {
    width: 50%;
    padding: 50px 65px 50px 50px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 0 40px #544b4b;
}
.input-field input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.message-box textarea {
    width: 100%;
    padding-left: 15px;
    border-radius: 5px;
    padding-top: 15px;
}
.footer-area {
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0px -5px 40px #fff;
}
.footer-area p{
    text-align: center;
}